.nav{
background-color: (#5253FF, #3B14A8);
-webkit-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.1);
box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.3);
transition: all 0.2s ease;
box-sizing: border-box;
}
.nav-item{
    
font-family: 'Open Sans';
font-style: semibold;
font-weight: 600;
font-size: 13px;
line-height: 12px;
/* or 100% */

text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #FFFFFF;
  }
  .form-control{
    box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.1);
transition: all 0.1s ease;
  }


.navbar.brand {
       left: 50%;
    margin-left: -131px !important; 
    display: block;
}
.container-fluid {
	background-color: #fefeff;
}

.top-part {
	background-color: #fefeff;
}
.bottom-part {
	background-color: #3B14A8;
}
.center-content {
	margin-top: 120px;
	margin-bottom: 120px;
  font-family: 'Open Sans';
font-style: extrabold;
font-weight: 600px;
font-size: 13px;
line-height: 12px;
/* or 100% */

text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #3B14A8;
}


.line {
	border-top: 1px solid #7B1FA2;
	width: 90% !important;
}

.fa-mobile {
	font-size: 20px;
  color: #3B14A8;
}

#contact {
	font-size: 15px;
}

.grey-text {
	color: #fefeff;
}
#maindiv{
  
    width:35%;
    border-radius: 8px;
    display: flex;
    height:40px;
    border:1px solid lightgrey;
    }
    #inputspan{
      width:80%;
    }
    span{
      vertical-align: top;
    }
     span:last-child{
      width:10%;
      border-radius: 8px;
      margin-top: 10px;
      margin-bottom: 2px;
    }
    input{
      height:100%;
      width:100%;
      border: none;
      padding:0px;
    }
    section{
      display: flex;
      margin-top: 2%;
      width:23%;
      justify-content: space-around;
      margin-bottom: 2%;
    }
  section button{
      
      background-color: #2EB394;
      border-radius: 8px;
    background-color: #2EB394;
	color: #fff !important;
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  font-size: 13px;
  line-height: 12px;

  
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
 	letter-spacing: 2px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

section button:hover {
	background-color: #F50057;
}

    ul{
      display: flex;
      width: 30%;
      padding-left: 0px;
      list-style: none;
      justify-content: space-around;
      margin: 6px;
    }

